@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~toastr/build/toastr.min.css";

.container{
    margin: auto;
    width: 95%;
}

.row{
    padding-top:10px;
    padding-bottom:10px;
}

body{
    margin:0
}

.button{
    background-color: #3f51b5;
    color: #fafafa !important;
}

.clearDialog .mat-dialog-container{
    box-shadow: none;
    background-color: rgba(0,0,0,0);
}