<div class="container">
  <div class="row">
    <mat-form-field class="form-width" [@flash]="myPubKeyControlState" (@flash.done)="myPubKeyControlState = ''">
      <input matInput placeholder="My Public Key" [formControl]="myPubKeyControl" readonly>
    </mat-form-field>

    <mat-form-field class="form-width" [@flash]="otherPubKeyControlState" (@flash.done)="otherPubKeyControlState = ''">
      <input matInput placeholder="Other Public Key" [formControl]="otherPubKeyControl">
      <mat-error *ngIf="otherPubKeyControl.hasError('required')">
        required
      </mat-error>
      <mat-error *ngIf="otherPubKeyControl.hasError('hex')">
        invalid hex
      </mat-error>
      <mat-error *ngIf="otherPubKeyControl.hasError('minlength') || otherPubKeyControl.hasError('maxlength')">
        must be exactly 1040 bits of data
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-width" [@flash]="secretControlState" (@flash.done)="secretControlState = ''">
      <input matInput placeholder="Secret" [formControl]="secretControl" readonly>
    </mat-form-field>
  </div>
  <div class="row">
    <button class="button" mat-raised-button (click)="onGenerateKeysClick()">Generate My Keys</button>
    <button class="button" mat-raised-button (click)="onGenerateSecretClick()">Generate Secret</button>
  </div>
</div>